services:
  backend-template:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_template_app
    ports:
      - '${PORT:-3000}:3000'
    env_file:
      - .env
    environment:
      # Override DATABASE_URL to use the docker service name 'postgres' instead of 'localhost'
      - DATABASE_URL=postgresql://myuser:mypassword@postgres:5432/mydatabase?schema=public
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15-alpine
    container_name: backend_template_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U myuser -d mydatabase']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
